header {
    background: #FFFFFF;}

body{
    font-family: 'Roboto';
    color: #212121;}

section[class="nagłówek"]{
    text-align: center;
    background: #2F303A;}

footer{
    background: #2F303A;}

nav{
    background: #FFFFFF;}

div {
    background-color: #FFFFFF;}

p [class="text"]{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;} 

a[class="agencja"]{
    color:#212121;
    text-decoration: none;}

a[class="portfolio"]{
    color:#212121;
    text-decoration: none;}
    
.agencja:hover{
    color:#2196F3;}

.portfolio:hover{
    color:#2196F3;}

.kontakt:hover{
    color:#2196F3;}

.link:hover{
    color:#2196F3;}

.link1:hover{
    color: #2196F3;}

.button-portfolio:hover{
    color: #FFFFFF;
    background-color: #2196F3;
    text-decoration: underline dotted #2196F3;}

.nasz-zespół{
    background: #F5F4FA;}

span {
    color: #2196F3;}

.link{
    text-decoration: none;
    width: 135px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;}

.link1{
    width: 231px;
    height: 21px;    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;    
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;}

.link2{
    color: #212121;
    text-decoration: none;
    width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;}

.link3{
    color: #FFFFFF;
    text-decoration: none;
    width: 145px;
    height: 31px;  
    font-family: 'Raleway';  
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;}

.lista{  
    cursor: pointer;
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}

address{
    width: 246px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;}

h1 {
    text-align: center;
    font-style: normal;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background-color: #2F303A;
    color: #FFFFFF;}

h3[id="zespół"]{
    width: 72px;
    height: 19px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}

h4{
    width: 322px;
    height: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;}

.button{
    width: 200px;
    height: 50px;
    cursor: pointer;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF; }

.button-portfolio{
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    width: 93px;
    height: 38px;
    left: 639px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;}

#title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;}

#title1{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}

#lorem{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;}

img[alt="domeone writting on keyboard"]{
    width: 370px;
    height: 294px;
    background: url(images/Czymsięzajmujemy/img1.jpg);
    mix-blend-mode: normal;}

img[alt="someone use his phone near his laptop"]{
    width: 370px;
    height: 294px;
    background: url(images/Czymsięzajmujemy/img2.jpg);}

img[alt="someone looking at colour palette at his tablet"]{
    width: 370px;
    height: 294px;
    background: url(images/Czymsięzajmujemy/img3.jpg);}

img[src="images/Naszzespół/ludzie1.jpg"]{
    width: 270px;
    height: 260px;
    background: url(images/Naszzespół/ludzie1.jpg);
    border-radius: 0px;}

img[src="images/Naszzespół/ludzie2.jpg"]{
    width: 270px;
    height: 260px;
    background: url(images/Naszzespół/ludzie2.jpg);
    border-radius: 0px;}

img[src="images/Naszzespół/ludzie3.jpg" ]{
    width: 270px;
    height: 260px;
    background: url(images/Naszzespół/ludzie3.jpg);
    border-radius: 0px;}

img[src="images/Naszzespół/ludzie4.jpg" ]{
    width: 270px;
    height: 260px;
    background: url(images/Naszzespół/ludzie4.jpg);
    border-radius: 0px;}

.images-portfolio{
    width: 322px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;}

li [class="images"]{
    width: 270px;
    height: 368px;
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;}

li [class="portfolio"]{ 
    width: 370px;
    height: 404px;
    background: #FFFFFF;}

p[class="images"]{
    width: 130px;
    height: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;}

  

